In [1]:
#variables --->containers(which contain some values)
#name = identifier ---> assign

In [4]:
a = 34 #this is variable

In [5]:
a

34

# Comments

In [10]:
#this is comment :single line comment
#njcwncndknvk
#bvhdsbvfdv
#dvbcjdh fd
#bchj jv kjd vc

In [12]:
'''this is a text and this is multi line comments.
this is new line and we can got it
'''

'this is a text and this is multi line comments.\nthis is new line and we can got it\n'

In [13]:
#Python datatypes
'''
numeric DT--->int,float,complex
series DT--->strings,list,tuples
map DT ---> dictionary
sets datatype ---> sets,frozentype
none types ---> Nonetype
'''

'\nnumeric DT--->int,float,complex\nseries DT--->strings,list,tuples\nmap DT ---> dictionary\nsets datatype ---> sets,frozentype\nnone types ---> Nonetype\n'

In [15]:
#numerics DT
a = 54
b = 2.3 #points
c = 4 + 5j #real + imag

print(a);print(b);print(c)
print(type(a));print(type(b));print(type(c))

54
2.3
(4+5j)
<class 'int'>
<class 'float'>
<class 'complex'>

In [18]:
#series
#string --->indexed---->immuteable
#list ----> ordered---->muteable
#tuples --->orderd --->immutable

a = 'code and tea with samiullah ko sub kro'
l = [1,2,3,4,5,5,6]
t = (1,2,3,4,5,6,6)
print(a);print(l);print(t)
print(type(a));print(type(l));print(type(t))

code and tea with samiullah ko sub kro
[1, 2, 3, 4, 5, 5, 6]
(1, 2, 3, 4, 5, 6, 6)
<class 'str'>
<class 'list'>
<class 'tuple'>

In [23]:
#maping
#dict ---->unordered --->key-values pattern
d = {'name':'samiullah','channel name':'catws'}
print(d['channel name'])
print(type(d))

catws
<class 'dict'>

In [31]:
#sets
#sets --->unoredred ---->mutable --->collection of unqiue elements
#frozensets --->unoredred ---->immutable --->collection of unqiue elements
s = {1,2,3,4,5,56,6}
print(s)
print(type(s))

f = ({1,2,3,4,5,6})
print(f)

{1, 2, 3, 4, 5, 6, 56}
<class 'set'>
{1, 2, 3, 4, 5, 6}

In [32]:
print(type(f))

<class 'set'>

In [35]:
#boolean --->True and false
is_raining = True
is_sunny = False
is_cloudy = is_raining or is_sunny
print(is_cloudy)

True

In [ ]:
#Nonetype